*/shelf/
*/httpRequests/
/.idea
/venv
*__pycache__
*.java
*.java.ast
*.java.ast.stm
*.java.ast.stm.flat
*.corpus
data/**/*.txt
data/**/*.json
data/**/*.cpp
data/**/*.java
data/**/*.java.stm
data/**/*.java.stm.flat
!data/backup/**
samples/
*.w2v*
*.ft*